/* index.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a0dad; /* púrpura */
}

.form-wrapper {
    display: flex;
    gap: 40px;
    background-color: #ffffff20;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
    min-width: 200px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: black;
}

button {
    padding: 10px;
    background-color: white;
    color: #6a0dad;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #e0cfff;
}
